absl-py==0.12.0
astunparse==1.6.3
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
colorama==0.4.4
console==0.9906
dnspython==2.1.0
ezenv==0.92
flatbuffers==1.12
gast==0.3.3
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
Jinja2==2.11.3
Keras-Preprocessing==1.1.2
lxml==4.6.2
Markdown==3.3.4
MarkupSafe==1.1.1
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
prettytable==2.0.0
protobuf==3.15.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyecharts==1.9.0
pyfiglet==0.8.post1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
python-nmap==0.6.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
shodan==1.25.0
simplejson==3.17.2
six==1.15.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.3
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
XlsxWriter==1.3.7
